h1, h2, h3, h4, h5, h6 {
	clear: both;
}

.entry-content h1 {
	font-size: 30px;
}
h1.entry-title {
	text-align: center; 
	font-size: 36px; 
	text-transform: uppercase; 
	color: $color-blue; 
	margin-bottom: 12px;
	margin: 50px 0 0 0;
	@media screen and (min-width: $tabwidth) {
		font-size: 40px;
	}
	@media screen and (min-width: $midwidth) {
		font-size: 48px;
	}
	@media screen and (min-width: $deskwidth) {
		font-size: 51px;
	}
}