*,div,h1,h2,h3,h4,h5,h6,p,li,a,span,strong {
	overflow-wrap: normal;
	word-wrap: normal;

	-ms-word-break: normal;
	word-break: normal;
	word-break: normal;

	-ms-hyphens: none;
	-moz-hyphens: none;
	-webkit-hyphens: none;
	hyphens: none;
	page-break-inside: avoid;
}
.clear {clear: both;}
.clear:before, .clear:after {
    content: " "; 
    display: table; 
}
.clear { *zoom: 1; }
.wrapper {
	width: 100%;
	margin: 0px auto;
	padding: 20px;
	
	@media screen and (min-width: $tabwidth) {
		width: 100%;
	}
	@media screen and (min-width: $deskwidth) {
		width: 90%;
		padding: 0px;
	}
}
section.intro {
	width: 100%;
	@media screen and (min-width: $tabwidth) {
		
	}
	@media screen and (min-width: $deskwidth) {
		width: 60%;
		margin: 0 auto;
	}
}
.content-area {
	width: 100%;
	margin: 0px auto;
	
	@media screen and (min-width: $tabwidth) {
		width: 66%;
		float: left;
		margin: 0;
	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
	}
}

.widget-area {
	width: 100%;
	margin: 0px auto;
	
	@media screen and (min-width: $tabwidth) {
		width: 26%;
		float: right;
		margin: 0;
		padding: 40px 0;
	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
	}
}

/* Logo */
.logo , h1.logo {
	width: 300px;
	height: 200px;
	margin: 10px auto;

	@media screen and (min-width: $tabwidth) {
		width: 300px;
		height: 200px;
		float: left;
		margin: 0;
	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
	}
}
.logo a, h1.logo a {
	width: 300px;
	height: 200px;
	display: block;
	text-indent: -9000px;

	@media screen and (min-width: $tabwidth) {
		width: 300px;
		height: 200px;
	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
	}
}
#content {
	width: 100%;
	clear: both;
	float: left;
	
	@media screen and (min-width: $tabwidth) {

	}
	&.no-image {
		margin-top: 200px;
		@media screen and (min-width: $tabwidth) {
			margin-top: 100px;
		}
		@media screen and (min-width: $deskwidth) {

		}
	}
	&.yes-image {

	}

}

body {
	overflow-x: hidden; 
	position: relative; 
	margin:0px; 
	padding:0px; 
	font-family: $font-body;  
	background: none;
}
html, body {
	height: 100%;
}
*:focus {outline: none;}
a:focus {outline: none;}
*:active {outline: none;}
a:active {outline: none;}
*:hover {outline: none;}
a:hover {outline: none; color: #000}
a {
	color:#000000; 
	text-decoration: none; 
	-webkit-transition: all 0.5s ease; 
	-moz-transition: all 0.5s ease; 
	-o-transition: all 0.5s ease; 
	transition: all 0.5s ease;}

img { 
	border: 0px; 
	vertical-align: top; 
	max-height: 100%;}

h1, h2, h3, h4, h5, h6 {
	margin: 0px; 
	padding: 0px; 
	font-family: $font-heading; 
	font-weight: 700;
}

ul {
	margin: 0px; 
	padding: 0px;
} 
p {
    font-family: $font-body;
	font-weight: 400; 
	font-size: 26px; 
	line-height: 1.5; 
	margin-bottom: 30px;
	margin-top: 6px;
}
p img.alignleft {
	position: relative;
	top: 8px;
}
.main-navigation a {
	font-family: $font-heading; 
	font-weight: 500; 
	background: none !important;
}
.container {
	width: 1345px; 
	margin: auto; 
	max-width: 100%; 
	padding-left: 25px; 
	padding-right: 25px; 
	display: block;
}  

.row:after {
	content: "."; 
	display: block; 
	clear: both; 
	visibility: hidden; 
	line-height: 0px; 
	height: 0px;}
.row {
	display: block; 
	margin-right: -25px; 
	margin-left:-25px;
}
.home .header { position: absolute; left: 0px; right: 0px; top: 0px; z-index: 1;}
.header {background: rgba(255,255,255,0.8); padding-bottom: 0px;}
.header .resp-phone { display: none;}
.topbar {
	text-align: right; 
	background: rgba(255,255,255,0.6); 
	padding: 8px 0px 2px 0px;
	display: none;
	@media screen and (min-width: $tabwidth) {
		display: block; 
	}
}
.topbar .social,
.topbar .call { display: inline-block; vertical-align: middle; margin-right: -4px;}
.topbar .social ul {list-style: none;}
.topbar .social li {display: inline-block; vertical-align: middle; font-size: 25px; padding-left: 15px; padding-right: 15px; line-height: inherit;}
.topbar .social li a {color: #2a5570;}
.topbar .social li a:hover { color: #000}
.topbar .call {font-size:19px; font-weight:600; padding-left: 42px; padding-right: 3px; padding-top: 3px;}
.topbar .call a {color:#2a5570;}
.logo img {display: block; position: relative; left: 0px; top: -20px;}

.logo,
.main-navigation {display: inline-block; vertical-align: middle; margin-right: -4px; background: none;}


.logo,
h1.logo,
.logo a,
h1.logo a {height: 103px; width: auto;}

.logo {width: 30% !important; float: none !important;}
.main-navigation { width: 70%; text-align: right;}
.main-navigation ul {text-align: right; display: block;}
.main-navigation li {border: 0px; line-height: normal;}
.main-navigation a {font-size: 28px; color: #2a5570; padding-left: 21px; padding-right: 22px;}
.main-navigation li:last-child a { padding-right: 0px;}
.h-menu,
.menu-main-container { display: block; text-align: right; margin-right: -3px;}

.hp-banner { position: relative;}
.hp-banner:after {content: ""; /*background-image: url(http://birch.bellaworksdev.com/wp-content/themes/birch-ecology/images/hp-banner-opacity-bg.png); background-repeat: repeat-x;*/ position: absolute; left: 0px; right: 0px; bottom: 0px; display: block; top: 150px; /*background-position: center bottom;*/ background: rgb(0,0,0);
background: -moz-linear-gradient(0deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.1) 100%);
background: -ms-linear-gradient(0deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.1) 100%);
background: -webkit-linear-gradient(0deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.1) 100%);
background: linear-gradient(0deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.1) 100%);
/*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);*/}

@media all and (min-width:0\0) and (min-resolution:.001dpcm) {
    .hp-banner:after {
        background-color:  rgba(0,0,0,0); 
        background-image: url('images/hp-banner-opacity-bg.png'); 
        background-repeat: repeat-x;
    }
}

.hp-banner img {width: 100%; /*height: 964px;*/}
.hp-banner .caption { position: absolute; left: 0px; right: 0px; max-width: 800px; margin: auto; /*top: 468px;*/ top: 50%; z-index: 2; text-align: center; -moz-transform: translate(0px, -5%); -webkit-transform: translate(0px, -5%); -o-transform: translate(0px, -5%); -ms-transform: translate(0px, -5%); transform: translate(0px, -5%);}
.hp-banner .caption h2 {font-size: 61px; color: #fff; line-height: 72px; text-shadow: 0px 0px 30px #111, 0px 0px 30px #111;}
.hp-banner .caption p {font-size: 32px; font-weight: 600; color: #fff; margin-top: 16px;}
.hp-banner .caption .banner-btn {font-size: 33px; color: white; text-transform: uppercase; font-weight: 700; display: inline-block; padding: 14px 53px 12px 53px; border-radius: 100px; border: 2px #fff solid; background: rgba(255,255,255,0.31); margin-top: 45px; line-height: 40px;}
.hp-banner .caption .banner-btn:hover { background: #fff; color: #2a5570;}

.hp-who-we-are {padding-top: 54px; padding-bottom: 62px;}

.hp-who-we-are h2,
.hp-service h2,
.hp-projects h2 {text-align: center; font-size: 51px; text-transform: uppercase; color: $color-blue; margin-bottom: 14px;}
.hp-who-we-are p {font-size: 18px; padding-left: 140px; padding-right: 140px; line-height: 1.4; letter-spacing: 0.2px; color: #000;  margin-bottom: 28px; margin-top: 0; }

.hp-service {display: block; padding-top: 56px; background:#f2f2f2; text-align: center; padding-bottom: 0;}
.hp-service h2 {margin-bottom: 80px;}
.hp-service a {position: relative; display: block; margin-bottom: 50px;}
.hp-service a:after {content: ""; background: rgba(0,0,0,0.2); position: absolute; left: 0px; right: 0px; top: 0px; bottom: 0px; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease;}
.hp-service a:hover:after {background: rgba(0,0,0,0);}
.hp-service h3 {position: absolute; left: 0px; right: 0px; top: 50%; -moz-transform: translate(0px, -50%); -webkit-transform: translate(0px, -50%); -o-transform: translate(0px, -50%); -ms-transform: translate(0px, -50%); transform: translate(0px, -50%); font-size: 33px; font-weight: 700; color: white; z-index: 1; text-transform: uppercase; line-height: 40px; padding-left: 15px; padding-right: 15px;}
.hp-service .col-three {padding-left: 27px; padding-right: 27px;}
/*.hp-service img { max-height: 269px; width: 100%;}*/

.hp-content {background-size: cover; position: relative; margin-top: 10px; margin-bottom: 10px; padding-top: 100px; padding-bottom: 120px; background-position: center top;}
.hp-content:after {content: ""; background: rgba(68,110,137,0.66);   width: 80%; border: none; display:inline-block; height:auto; -moz-transform: 	scaleX(1) scaleY(1) scaleZ(1) skewX(-12deg); -webkit-transform:  scaleX(1) scaleY(1) scaleZ(1) skewX(-12deg); transform: scaleX(1) scaleY(1) scaleZ(1) skewX(-12deg); transform-origin: 50% 50%; padding:0px; margin:0px; position: absolute; display: block; left: -10%; top: 0; bottom: 0px;}
.hp-content .text {position: relative; z-index: 1; color: white;}
.hp-content h3 {font-size: 50px; text-transform: uppercase; width: 50%; line-height: 56px; margin-bottom: 20px; display: block;}
.hp-content ul {list-style: none;}
.hp-content li {position: relative; padding-left: 48px; font-size: 28px; font-weight: 700; line-height: 44px;}
.hp-content li:before {content: "\f00c"; font-family: 'FontAwesome'; position: absolute; left: 0px; top: 0px; font-weight: normal;}

.hp-projects {display: block; background: #f2f2f2; padding-top: 52px; text-align: center; padding-bottom:74px; margin-top: 38px;}
.hp-projects h2 { margin-bottom: 60px;}

.col-three {
	display: inline-block; 
	vertical-align: top; 
	margin-right: -4px; 
	margin-bottom: 50px;
	width: 33.33%; 
	padding-left: 25px; 
	padding-right: 25px; 
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	position: relative;
}
.hp-projects .col-three {
	padding-left: 27px; 
	padding-right: 27px;
}
.hp-projects .thumbnail {padding: 12px 12px 25px 12px; display: block; text-align: center;}
.projectsList {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: stretch;
	-webkit-align-items: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	.col-three .inside {
		min-height: 480px;
		height: 100%;
		box-shadow: 0px 0px 30px rgba(2,2,2,0.17); 
		background: #fff; 
		border-bottom: 9px solid #d1d1d1;
		position: relative;
	}

	.buttondiv {
		position: relative;
		margin-bottom: 0;
		margin-top: 40px;
		width: 100%;
		@media screen and (min-width: $tabwidth) {
			position: absolute;
			bottom: 0;
			left: 0;
			margin-top: 0;
		}
	}
	.thumbnail .buttondiv .project-btn {
		margin-top: 0;
		margin-bottom: 0;
		@media screen and (min-width: $tabwidth) {
			margin-bottom: 25px;
		}
	}
	.excerpt {
		@media screen and (min-width: $tabwidth) {
			margin-bottom: 95px;
		}
	}
	.excerpt p {
		margin-top: 0;
		margin-bottom: 0;
	}
}
.hp-projects h3 {
	font-size: 22px; 
	line-height: 1.3;
	text-transform: uppercase; 
	color: #153b55; 
	font-weight: 700; 
	margin-top: 10px; 
	display: block; 
	margin-right: -15px; 
	letter-spacing: -0.3px; 
	margin-bottom: 22px; 
	text-align: left;
}
.hp-projects p {
	font-size: 18px; 
	line-height: 1.4; 
	color: #000; 
	text-align: left;
}
.hp-projects .project-btn {font-size: 30px; background: #fff; color: #86331b; text-transform: uppercase; font-weight: 700; display: inline-block; padding:14px 55px 12px 55px; border-radius: 100px; border: 1px #86331b solid; line-height: 40px; margin-top: 100px;}
.hp-projects .project-btn:hover {background: #86331b; color: #fff;}
.hp-projects .thumbnail .project-btn {font-size: 20px; padding: 8px 55px 8px 55px; margin-top: 16px; }
.hp-projects .thumbnail .img {
	width: 100%; 
	display: block;}

.site-footer {
	background-color: $color-blue; 
	text-align: center; 
	width: 100%;
	clear: both;
	position: relative;
    z-index: 100;
}
.site-footer .wrapper {width: 100%;}
.site-footer .footer-info {display: block; padding-bottom: 63px; padding-top: 33px;}
.site-footer .social { 
	margin-bottom: 55px;
	width: 100%;
	clear: both;
	padding-top:40px;
}
.site-footer .social ul {list-style: none;}
.site-footer .social li {display: inline-block; vertical-align: middle; font-size: 44px; padding-left: 30px; padding-right: 30px; line-height: inherit;}
.site-footer .social li a {color: #fff;}
.site-footer .social li a:hover {color: #000}
.site-footer .call { font-size:30px; color: #fff; font-weight: 700;}
.site-footer .call a {color: white;}
.site-footer .call a:hover {color: black;}
.site-footer .site-info {background: #383838; font-size: 19px; text-transform: uppercase; color: white; font-weight: 400; padding: 26px 0px; letter-spacing: 0.5px;}

@media only screen and (max-width: 1199px) {
    
    .container,
    .hp-service .col-three,
    .hp-projects .col-three {padding-left: 15px; padding-right: 15px;}
    .row {margin-right: -15px; margin-left: -15px;}
    .h-menu, .menu-main-container {margin-right: 0px;}
    .topbar .call {	padding-right: 0px;}
    .main-navigation a {padding-left: 10px; padding-right: 10px;}
    .hp-banner .caption {-moz-transform: translate(0px, -20%); -webkit-transform: translate(0px, -20%); -o-transform: translate(0px, -20%); -ms-transform: translate(0px, -20%); transform: translate(0px, -20%);}
    .hp-who-we-are p {padding-left: 0px; padding-right: 0px;}
    .hp-service a {margin-bottom: 30px;}
    .hp-content h3 {font-size: 50px; width: 60%; line-height: 50px;}
    .hp-content li {padding-left: 48px; font-size: 24px; font-weight: 700; line-height: 30px;}
    .hp-projects h3 {margin-right: 0px; letter-spacing: 0px;}
    .hp-projects h3 {min-height: 85px;}
    .home .wrapper { padding: 0px;}
    
}

/* End of max 1199px */

/* Tab portrait */
@media only screen and (max-width: 991px) {
    .topbar .call {padding-left: 15px;}
    .main-navigation a {padding-left: 8px; padding-right: 8px; font-size: 24px;}
    .logo {width: 25% !important;}
    .main-navigation {width: 75%;}
    .hp-banner .caption {max-width: 500px;}
    .hp-banner .caption h2 {font-size: 50px; line-height: 50px;}
    .hp-banner .caption p {font-size: 26px;}
    .hp-banner .caption .banner-btn {font-size: 28px; padding: 12px 48px 10px 48px; margin-top: 16px; line-height: 36px;}
    .col-three {width: 50%;}
    .hp-service {text-align: left;}
    .hp-service h3 { text-align: center;}
    .hp-content h3 {font-size: 40px; width: 100%; line-height: 40px;}
    .hp-content .text {width: 70%;}
    .hp-projects .row {text-align: left;}  
    .hp-projects .thumbnail {margin-bottom: 0;}
    .hp-projects .project-btn {margin-top: 0;}
    
}
/* End of max 991px */

/* Mobile  landscape */
@media only screen and (max-width: 767px) {
    .logo, h1.logo, .logo a, h1.logo a {height: auto;}
    .home .header {position: relative;}
    .logo {width: 100% !important;}
    .logo img {
    	display: block; 
    	left: auto; 
    	top: auto; 
    	display: block; 
    	margin: 5px auto 0;
    	width: 135px;
    }
    .topbar .social {display: none;}
    .main-navigation {width: 100%;}
    .topbar .call {display: none;}
    .h-menu, .menu-main-container {text-align: center; margin-top: 0px; margin-bottom: 10px;}
    .main-navigation .menu-main-container {max-height: 0px; overflow: hidden; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease;}
    .main-navigation.toggled .menu-main-container {max-height: 300px;}
    button.menu-toggle {background: #295570; padding: 10px 30px !important;}
    .header .resp-phone {display: block;}
    .header .resp-phone a {font-size:19px; font-weight:600; font-weight: 700;}
    .hp-banner .caption {background: #295570; padding: 50px 10px;  position: relative; top: auto; -moz-transform: none;	-webkit-transform: none;-o-transform: none; -ms-transform: none; transform: none;}
    .hp-banner .caption h2 {text-shadow:none;}
    .hp-who-we-are {padding-top: 30px; padding-bottom: 10px;}
    .hp-service {padding-top: 30px; padding-bottom: 30px;}
    .hp-service h2 {margin-bottom: 20px;}
    .col-three {width: 100%;}
    .hp-content::after {background: rgba(68, 110, 137, 1); width: 100%; display: block; -moz-transform: none;	-webkit-transform: none;
	transform: none; padding: 0px; margin: 0px;	display: block; left: 0px; top: 0px; bottom: 0px;}
    .hp-content .text {width: 100%;}
    .hp-content {margin-top: 0px; margin-bottom: 0px; padding-top: 50px; padding-bottom: 50px;}
    .hp-projects {padding-top: 30px; padding-bottom: 50px;}
    .hp-projects .thumbnail .img {height: auto;}
    .hp-projects h3 {min-height: inherit;}
    .hp-projects h2 {margin-bottom: 30px;}
    .header {
    	position: relative!important;
    }
    .col-three img {
    	width: 100%;
    	height: auto;
    }
}
/* End of max 767px */

/* Mobile portrait */
@media only screen and (max-width: 479px) {
    .hp-banner .caption h2 {font-size: 30px; line-height: 30px;}
    .hp-banner .caption p {font-size: 16px;}
    .hp-banner .caption .banner-btn {font-size: 20px; padding: 6px 30px 4px 30px; line-height: 36px;}
    .hp-who-we-are h2, .hp-service h2, .hp-projects h2 {font-size: 30px;}
    .hp-who-we-are p { font-size: 16px; line-height: 28px; margin-bottom: 20px;}
    .hp-service h3 {font-size: 24px; line-height: 32px;}
    .hp-content h3 {font-size: 30px; width: 100%; line-height: 30px;}
    .hp-content li {padding-left: 30px; font-size: 16px; line-height: 24px;}
    .hp-projects h3 {font-size: 20px; margin-top: 10px; display: block; margin-bottom: 10px;}
    .hp-projects p {font-size: 16px; line-height: 28px;}
    .hp-projects .project-btn {font-size: 22px; padding: 8px 30px 8px 30px;}
    .hp-projects .thumbnail .project-btn {font-size: 20px;padding: 5px 20px 5px 20px; margin-top: 0px;}
}
/* End of max 479px */

.header { 
	position: absolute; 
	left: 0px; 
	right: 0px; 
	top: 0px; 
	z-index: 100;
}
section.page {
	width: 100%;
	background-color: #fff;
	float:left;
	padding: 40px 0;
}
article#page {
	width: 100%;
	background-color: #fff;
	padding: 5px 0;
	@media screen and (min-width: $tabwidth) {
		padding: 30px 0 0;
	}
	p, li {
		font-size: 18px;
	}
	ul {
		margin: 0 0 20px 0;
		padding: 0 0 0 40px ;
	}
}
