.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
.service-side {
	ul {
		list-style-type: none;
		padding-left: 40px;
		@media screen and (min-width: $tabwidth) {
			padding: 0;
		}
	}
	li {
        font-size: 18px;
        line-height: 1.2;
        margin: 0 0 15px 0;
        position: relative;
        padding-left: 18px;
		&:before {    
            display: inline-block;
    		font-family: 'FontAwesome';
    		content: "\f0da";
    		color:$color-blue;
            position: absolute;
            top: 0;
            left: 0;
		}
        a {
            line-height: 1.3;
        }
	}
}
.error404 {
    .content-area {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
    }
    .site-main {
        padding-left: 20px;
        padding-right: 20px;
        font-size: 20px;
    }
    p {
        font-size: 20px;
    }
    .error-404 {
        max-width: 800px;
        width: 100%;
        margin: 0 auto 0;
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .page-title {
        font-size: 30px;
    }
}

.page-link-list {
    ul {
        margin: 0 0;
        padding: 0 0;
        list-style: none;
        ul {
            padding-bottom: 5px;
        }
    }
    li {
        position: relative;
        padding-left: 20px;
        &:before {
            content:"";
            width: 8px;
            height: 8px;
            background: $color-brown;
            border-radius: 100px;
            position: absolute;
            top: 10px;
            left: 0;
        }
    }
    a {
        font-size: 20px;
        text-decoration: none;
        color:$color-brown;
        &:hover {
            text-decoration: underline;
        }
    }
}

.type-page .wrapper {
    margin: 0 auto;
    @media screen and (min-width: $tabwidth) {
        width: 60%;
    }
}
.services-page .wrapper {
    padding-bottom: 25px;
}
.svc-info {
    padding-top: 20px;
    padding-bottom: 20px;
    @media screen and (min-width: $tabwidth) {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    &.first {
        padding-top: 20px;
        @media screen and (min-width: $tabwidth) {
            padding-top: 60px;
        }
    }
    .svc_title {
        margin: 0 0 15px;
        font-size: 35px;
        line-height: 1.2;
        color:$color-heading;
    }
    .textwrap {
        hyphens: none;
        font-size: 18px;
        p {
            font-size: 18px;
            margin-top: 0;
            margin-bottom: 1.5em;
        }
    }
    .imagewrap {
        width: 100%;
        border: 1px solid #dbdbdb;
        box-shadow: 0 0.125em 0.275em 0 rgba(0,0,0,0.075);
        border-radius: 4px;
        img {
            width: 100%;
            height: auto;
        }
        .wrap {
            padding: 6px 6px;
        }
    }
    .image-caption {
        padding-top: 8px;
        padding-bottom: 2px;
        font-size: 16px;
        color: #878788;
        text-align: center;
    }
    p img,
    p img.alignnone {
        border: 1px solid #dbdbdb;
        box-shadow: 0 0.125em 0.275em 0 rgba(0,0,0,0.075);
        border-radius: 4px;
        padding: 5px;
    }
    p img.alignnone {
        width: 100%;
        height: auto;
    }
}
a.post-edit-link {
    color:$color-brown;
    text-decoration: underline;
}
.services-sidebar {
    position: relative;
    top: 0;
    right: 0;
    width: 90%;
    z-index: 50;
    &.small-screen {
        display: block;
    }
    &.desktop {
        display: none;
    }
    @media screen and (min-width: $tabwidth) {
        width: 26%;
        &.desktop {
            display: block;
        }
        &.padTop {   
            padding-top:5%;
        }
        &.small-screen {
            display: none;
        }
    }
    a {
        @include transition(all ease-out .3s);
        &:hover {
            color: $color-brown;
        }
    }
    li.active {
        &:before,
        a {
            color:$color-brown;
        }
    }
}
#secondary_mobile {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100000;
    width: 100%;
    background: #FFF;
    box-shadow: 0px 1px 22px -5px rgba(0,0,0,0.55);
    margin-top: 0!important;
    &.show {
        display: block;
    }
    @media screen and (min-width: $tabwidth) {
        display: none;
        &.show {
            display: none;
        }
    }
    &.open-nav {
        height: auto;
    }
    .widget {
        display: none;
        position: relative;
        width: 100%;
        background: #FFF;
    }
    .active-section {
        position: relative;
        top: 0;
        left: 20px;
        color: $color-heading;
        font-size: 16px;
    }
    .active-section {
        display: block;
        padding-top: 16px;
        padding-bottom: 10px;
        height: 55px;
        font-size: 18px;
        font-family: $font-heading;
        font-weight: 600;
        text-transform: uppercase;
    }
}
.burgerNav {
    display: block;
    width: 30px;
    height: 30px;
    top: 7px;
    right: 20px;
    position: absolute;
    cursor: pointer;
    z-index: 100;
}
.burgerNav span,
.burgerNav span:before,
.burgerNav span:after {
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    background: $color-heading;
    @include transition(all ease-out .3s);
}
.burgerNav span {
    top: 18px;
}
.burgerNav span:before,
.burgerNav span:after {
    content:"";
}
.burgerNav span:before {
    top: -10px;
}
.burgerNav span:after {
    top: 10px;
}
.burgerNav.open {
    span {
        background: transparent;
    }
    span:before {
        transform: translateY(9px) rotate(45deg);
    }
    span:after {
        top: 8px;
        transform: translateY(-9px) rotate(-45deg);
    }
}
.services-page-wrap .wrapper {
    position:relative;
}

.sitemap {
    margin-top: 50px;
    .page-link-list {
        text-align: center;
        ul.linklist {
            display: inline-block;
            text-align: left;
        }
    }
}

.galleryWrapper {
    padding-top: 25px;
    .frame {
        border:1px solid #dbdbdb;
        border-radius: 4px;
        box-shadow: 0 0.125em 0.275em 0 rgba(0,0,0,0.075);
    }
    .photo-wrapper {
        margin-top: 60px;
        &.first {
            margin-top: 0;
        }
    }
    .photo-description {
        font-size: 14px;
        line-height: 1.4;
        color: #9b9a9a;
        display: none;
        @media screen and (min-width: $tabwidth) {
            display: block;
        }
    }

    .photo-description.insideframe {
        margin-top: 15px;
        padding: 10px;
        display: block;
        @media screen and (min-width: $tabwidth) {
            display: none;
        }
    }

    .photo-wrapper.has-description {
        .frame {
            margin-bottom: 0;
            @media screen and (min-width: $tabwidth) {
                width: 64%;
                float: left;
            }
        }
        .photo-description {
            @media screen and (min-width: $tabwidth) {
                width: 34%;
                float: right;
            }
        }
    }
    .pad {
        padding:6px;
    }
    img {
        width: 100%;
        height: auto;
    }
    .caption {
        padding-top: 10px;
        padding-bottom: 3px;
        font-size: 15px;
        color: #9b9a9a;
        text-align: center;
        line-height: 1.2;
    }
}
.widget-area {
    .widget-title {
        font-size: 25px;
        position: relative;
        left: 0;
        margin: 0 0 6px;
        text-transform: uppercase;
        color: $color-heading;
        margin-left: 15px;
        margin-top: 35px;
        @media screen and (min-width: $tabwidth) {
            left: -28px;
            margin-left: 0;
            margin-top:0;
        }
    }
}
.single-project {
    .widget-area {
        margin-top: 10px;
    }
    
}
.services-sidebar.is_stuck {
    right: 5%;
    position: fixed;
}
.home-pg {
    position: relative;
}
.single-project.hasSidebar #page,
.single-service.hasSidebar #page {
    padding-top: 53px;
}
.single-project #secondary_mobile {
    .widget-title {
        margin: 0 0;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 18px;
    }
}